<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body id="launch">
  <a href="http://www.instagram.com/popsockets.br" class="desktop">
    <img src="http://comercial.customic.com.br/outros/popsockets.png" alt="lancamento popsockets">
  </a>
  <a href="http://www.instagram.com/popsockets.br" class="mobile">
    <img style="width: 100%" src="https://community.e-com.plus/uploads/default/original/2X/9/9dfdfa5411456d22db6cf88e314cf936511f5ba7.jpeg" alt="lancamento popsockets">
  </a>

</body>

</html>
