// Add your custom CSS here.
@media(max-width: 375px) {
  #logo {
    max-width: 100px !important;
  } 
/* .header__buttons i {
  font-size: 18px !important;
}
.header__buttons a i::before {
  width: 20px !important;
  height: 20px !important;
} */
}

@media (min-width: 992px) {
  .header__search-input {
    border: 1px solid #D4D4D4;
  }
  /* .header__search-input:not(:focus) {
    z-index: 999;
    position: relative;
    width: 65px;
    margin-left: auto;
    cursor: pointer;
  }
  .header__search-input:focus {
    border: 1px solid #e9ecef !important;
  }
  .header__search-input::placeholder {
    color: transparent;
  }
  .header__search-input::-ms-input-placeholder {
    color: transparent;
  } */
  .header__search-input:focus::placeholder {
    color: var(--gray);
  }
  .header__search-input:focus::-ms-input-placeholder {
    color: var(--gray);
  }
}

.footer address {
  color: #fff !important
}

#c-5f6e3e787430f92180f54430 {
    display: none;
}

body, p, span, em, h1, h2, h3, h4, h5, h6, small, strong, b {
  color: #00263e;
}

.collectionID h2 {
  width: 100%;
  text-align: center;
}

.product__buy button, .product__buy button:hover  {
  background: #fff;
  border-color: #00263e;
}

.top-bar__nav, .product__short-stock {
  display: none !important;
}
.shipping-calculator__services .active .shipping-calculator__option small, .shipping-calculator__services .active .shipping-calculator__option span, .shipping-calculator__services .active .shipping-calculator__option strong {
  color: #fff;
}
.shipping-calculator__services .active {
  background-color: #222831;
}
.shipping-calculator__free-from-value .progress span, .shipping-calculator__free-from-value .progress strong {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff
}
.shipping-calculator__free-from-value .progress-bar {
  background-color: #222831;
}
.login .input-group span, .login .input-group i {
  color: #fff;
}
.order-info__toggle {
    display: none !important;
}

.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#7E20F7;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #7E20F7;
    background: #7E20F7;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}
.product-card--inactive .badge.badge-dark.mt-auto {
  font-size: 0;
  &::after {
    content: "Esgotado";
    font-size: 15px !important;
  }
}
.seal-plant::before  {  
  content: url(https://www.comercial.customic.com.br/news/popsocket/plant_based.png);
  position: absolute;
  left: 0px
} 
.btn.product-card__favorite.fade {
  right: 0;
}
#title-site {
  letter-spacing: -1px;
  font-size: 2.34375rem;
  text-align: left;
  display: block;
  line-height: 32px;
  &::before {
    height: 0;
  }
}

@media (min-width: 576px) {
  .header__logo {
    max-height: 60px;
    max-width: 170px;
  }

  #search-bar {
    max-width: 160px;
  }
}

.shelfs-nav__title {
  text-align: left;
}

.shelfs-nav__tab {
  border-bottom: none;
  padding: 20px;
  border: 1px solid #181818;
  border-radius: 100px;
  opacity: 1;
  h4 {
    margin-bottom: 0;
    color: #181818;
  }
  &.active {
    background-color: #181818;
    h4 {
      color: #fff !important;
    }
  }
}

.shelfs-nav__tab:not(.active) {
  opacity: 1;
}

.header__nav-block {
  padding-left: 0;
  padding-right: 0;
}

.header__nav {
  padding-left: 0;
  padding-right: 0;
}

.header__category {
  padding: 9px !important;
}

@media(min-width: 992px) {
  .header__logo-block {
    padding-right: .5rem;
    padding-left: 0rem;
  }
}

.shelfs-nav__title {
  font-weight: Bold;
  letter-spacing: -1px;
  font-size: 26px;
  margin: var(--spacer-4) auto;
  padding: 0 4rem;
  max-width: var(--content-max-width);
}

.shelfs-nav__tab {
  text-align: center;
}
.shelfs-nav__tabs li {
  min-width: unset !important;
}