// Add your custom CSS here.
.footer address {
  color: #fff !important
}
@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Book Italic';
    src: url('fonts/GothamRounded-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham XNarrow Ultra';
    src: url('fonts/GothamXNarrow-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham XNarrow';
    src: url('fonts/GothamXNarrow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
#c-5f6e3e787430f92180f54430 {
    display: none;
}
@font-face {font-family: "Gotham Rounded Medium";
  src: url("fonts/font-mobi.eot"); /* IE9*/
  src: url("fonts/font-mobi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/font-mobi.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/font-mobi.woff") format("woff"), /* chrome、firefox */
  url("fonts/font-mobi.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/font-mobi.svg#Gotham Rounded Medium") format("svg"); /* iOS 4.1- */
}
body, p, span, em, h1, h2, h3, h4, h5, h6, small, strong, b {
  color: #00263e;
}
.product-card__name, .product__name, .breadcrumb-item, .breadcrumb-item a {
  font-family: 'Gotham Rounded Book', sans-serif !important;
}
.collectionID h2 {
  width: 100%;
  text-align: center;
  font-family: 'Gotham XNarrow Ultra',sans-serif;
}
.footer {
  &__title {
    font-family: 'Gotham Rounded Medium',sans-serif;
  }
  &__credits span, & p, & a  {
    font-family: 'Gotham Rounded Book',sans-serif
  }
}
.header__nav a, .menu__list a {
  font-family: 'Gotham Rounded Medium',sans-serif !important;
}
.product__buy button, .product__buy button:hover  {
  background: #fff;
  border-color: #00263e;
}
.prices {
  &__value {
    font-family: 'Gotham Rounded Book';
  }
}
.shipping-calculator {
  & strong, & small, & span {
    font-family: 'Gotham Rounded Book', sans-serif !important;
  }
}
.top-bar__nav, .product__short-stock {
  display: none !important;
}
.shipping-calculator__services .active .shipping-calculator__option small, .shipping-calculator__services .active .shipping-calculator__option span, .shipping-calculator__services .active .shipping-calculator__option strong {
  color: #fff;
}
.shipping-calculator__services .active {
  background-color: #222831;
}
.shipping-calculator__free-from-value .progress span, .shipping-calculator__free-from-value .progress strong {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff
}
.shipping-calculator__free-from-value .progress-bar {
  background-color: #222831;
}
.login .input-group span, .login .input-group i {
  color: #fff;
}
.order-info__toggle {
    display: none !important;
}

.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#7E20F7;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #7E20F7;
    background: #7E20F7;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}

  @media (min-width: 992px) {
      .header__search {
          //width: 30%;
          float: right;
      }
  }
  #search-form {
      border: .5px solid;
  }
  
 
  @media(min-width: 990px) {
    .header__row {
      .col.col-lg-auto.pl-1.pl-md-2.pl-lg-3 {
        flex-basis: 33.33%;
        max-width: 33.33%;
        display: flex;
        justify-content: center;
        
      }
      .order-lg-last.col-auto.p-0 {
        display: flex;
        flex-basis: 33.33%;
        max-width: 33.33%;
        justify-content: flex-end;
      }
      > .col-auto.p-0 {
        display: none;
      }
      .d-none.d-lg-block.col-12.col-lg.collapse {
        flex-basis: 33.33%;
        max-width: 33.33%;
        order: -1;
        display: flex !important;
        justify-content: flex-start;
      }
    }
    
  }

