// Add your custom CSS here.

@media (min-width: 992px) {
  .header__search-input {
    background: transparent;
    border: none !important;
  }
  main input.header__search-input:focus {
    border: 1px solid #e9ecef !important;
  }
}

.footer address {
  color: #fff !important
}

#c-5f6e3e787430f92180f54430 {
    display: none;
}

body, p, span, em, h1, h2, h3, h4, h5, h6, small, strong, b {
  color: #00263e;
}

.collectionID h2 {
  width: 100%;
  text-align: center;
}

.product__buy button, .product__buy button:hover  {
  background: #fff;
  border-color: #00263e;
}

.top-bar__nav, .product__short-stock {
  display: none !important;
}
.shipping-calculator__services .active .shipping-calculator__option small, .shipping-calculator__services .active .shipping-calculator__option span, .shipping-calculator__services .active .shipping-calculator__option strong {
  color: #fff;
}
.shipping-calculator__services .active {
  background-color: #222831;
}
.shipping-calculator__free-from-value .progress span, .shipping-calculator__free-from-value .progress strong {
  font-size: 11px;
  text-transform: uppercase;
  color: #fff
}
.shipping-calculator__free-from-value .progress-bar {
  background-color: #222831;
}
.login .input-group span, .login .input-group i {
  color: #fff;
}
.order-info__toggle {
    display: none !important;
}

.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#7E20F7;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #7E20F7;
    background: #7E20F7;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}

